/* IMPOSTAZIONI GENERALI */
:root{
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
font-family: 'Poppins', sans-serif;
margin: auto;
text-align: center;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color:white;
}

.background{
    max-width: 500px;
    background-image: url(../img/sfondo.png);
}
/* HEADER */
header{
    max-width: 450px;
    max-height: 450px;
    background-color: rgba(0,111,136,255);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.logo{
    max-width: 400px;
    padding: 30px;    
}

.logo img{
    max-width: 350px;
}

.logo h3{
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
}

nav{
    margin-top: 20px;
    text-transform: uppercase;
}

nav a:before{
    content: &rArr;    
}

/* ELEMENTI NEL MAIN - ARTICLE */

#sfondo{
    max-width: 450px;
    max-height: 450px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
h1{
    font-size: 1.8rem;
    font-weight: bold;  
  }
.author{
    color: gray;
    margin: 10px;
}

#paragraph{
    margin-bottom: 20px;
}

#parti-comuni{
    color: purple
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
