
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

body{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    line-height: 1.65;
}

img{
    max-width: 100%;
}

/*HEADER*/

header{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}
header>img{
    margin: 8% auto;
    max-width: 25%;   
}

/* MAIN */

#first-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
}
 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3;
    font-size: 2rem;
    margin: 15vw;
    
 }

#start-job{
    display: inline-block;
    margin: 0 10%;
 }

 #start{
    display: block;
    max-width: 200px;
    max-height: 35px;
    margin: 10% auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    text-transform: uppercase;
    border-radius: 5%;
 }

 #start a{
    text-decoration: none;
    color: white;
    padding: 25px;
 }

 .block{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block>h3{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 10% 10% 5% 10%;
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
}

.p{
    margin: 0 15%;
}

#notebook{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#notebook img{
    border-radius: 100%;
    width: 75%
}

#garanzia{
    margin-top: 10%;
    text-align: center;
    color: white;
    background-color: #f04c2f;
}

#garanzia h2{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4rem;
}

cite{
    display: inline-block;
    margin-top: 5%;
    font-size: 1.1rem;    
}

cite span{
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 35%;
}

/* ASIDE */

.aside-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    max-width: 90%;
    border: 1px solid #dee1e3; 
}

.aside-block img{
    width: 100%;
}

.aside-block h4{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 10%;
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;    
}

.aside-text{
    text-align: center;    
    margin: 0 8%;
    margin-bottom: 10%;
}

/* FOOTER */

footer{
    background-color: #25a2c3;
    color: white;
    text-align: center;
}

footer #contact-us{
    padding-top: 5%;
    font-size: 1.6rem;
    font-weight: bold;    
}

.contact-us{
    margin: 4% auto;
}
.contact-us a{
    color: white;
}

#line{
    margin: 0% auto;
    padding: 5%;
    border-top: 1px solid white;
    width: 50%;
    font-size: 0.8rem;
}

#line a{
    color: #c8e7f0;
}




